# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.development
.env.production
.env.test
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
tile.pbf

# Test
coverage/
junit.xml
*.junit.xml

# Firebase Service Account
smatch-badminton-firebase-adminsdk-fbsvc-*.json
